/* override materialize css */

html {
  /* font-family: 'Noto Sans JP', sans-serif; */
  height: 100%;
}

body {
  padding: 1em 2em;
  color: white;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
}

.avator {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;

  img {
    height: 250px;
    margin-bottom: 12px;
    border-radius: 50%;
  }

  span {
    text-align: center;
    font-size: 32px;
  }
}
