html {
  font-family: 'Noto Sans JP', sans-serif;
}

.hero {
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
}

.avator {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    height: 250px;
    border-radius: 50%;
  }
}

main {
  background-color: #eff2f9;
}

hr {
  background-color: #aaaaaa;
}

.custom-footer {
  padding: 1.5rem;
  color: white;
  background-color: #607d8b;

  a {
    color: white;
    font-weight: bold;
  }
}
